main {
	width: 90%;
	height: 100%;
	background-color: lightgray;
	margin: auto;
	padding: 5px;
}

section { margin-bottom: 10px; }

article {
	padding: 1.5px;
}

.btn {
	padding: 20px;
	width: 90%;
}

.invisible { display: none; }

#txtCalc {
	height: 50px;
	width: 98%;
	text-align: right;
	font-size: 30px;
}
